.prev, .next {
    color: #fff;
    font-size: 50px;
    text-decoration: none;
    margin-top: -50px;
    padding: 15px;
    background-color: transparent;
    transition: all 1s;
  }
  
  .prev:hover, .next:hover {
    background-image: #000;
  }
  
  .prev {
    position: absolute;
    left: 10px;
    top: 50%;
  }
  
  .next {
    position: absolute;
    right: 10px;
    top: 50%;
  }